/* 共用 */

img {
    display: block;
    max-width: 100%;
}

img,
.side-bar a {
    border-radius: 3px;
}

a:hover {
    text-decoration: none;
}


/* 共用END */


/*=========================================================
* index style
=========================================================*/


/* 导航 */

.navbar-brand {
    background: url("../img/logo.png");
    width: 50px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

#toggle-label {
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 16px;
    font-weight: normal;
    color: #666;
    cursor: pointer;
}

#toggle-checkbox:checked~div {
    display: block !important;
}


/* 左边分类 */

.side-bar a {
    border: 0;
    margin-bottom: 5px;
}

.side-bar a:first-child {
    background: #ea0c3c;
    color: #fff;
}


/* 左边分类END */


/* 中间内容 */

.new-list-item {
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
}

.new-list-item:first-child {
    padding-top: 0;
}

.new-list-item .title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    line-height: 1.5;
    margin-bottom: 10px;
}

.new-list-item .title:hover {
    text-decoration: none;
    color: #337ab7;
}

.new-list-item .info {
    color: #888;
}

.avatar {
    display: inline-block;
}

.avatar img {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


/* 中间内容END */


/* 右边内容 */

.side-bar-card {
    padding: 10px 0;
    margin-top: 15px;
    background: rgba(0, 0, 0, .05);
}

.side-bar-card.flag {
    padding-top: 20px;
    padding-bottom: 20px;
}

.side-bar-card .text-lg {
    font-size: 150%;
}

.card-body .list .item {
    padding: 15px;
}

.side-bar-card .card-title {
    padding: 0 15px;
    font-weight: bold;
    font-size: 18px;
}

.card-body .list .desc {
    padding-top: 5px;
    color: #999;
}

.card-body .list .item:hover {
    background: #e6e6e6;
}


/* 右边内容END */


/* 页脚声明 */

.footer {
    color: #999;
    margin-top: 20px;
    padding: 50px 0;
    text-align: center;
}


/* 页脚声明END */


/*=========================================================
* news style
=========================================================*/


/* 左边文章 */

.news-title {
    line-height: 1.3;
}

.new-status {
    color: #999;
}

.new-status .label {
    opacity: .8;
}


.new-content {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.5;
}

.new-content img {
    width: 100%;
    margin: 10px 0;
}

.no-padding-h {
    padding-left: 0;
    padding-right: 0;
}


/* 左边文章END */


/*=========================================================
* login style
=========================================================*/

.container-small {
    width: 500px;
}

.btn-primary {
    background-color: #ea0c3c;
    border-color: #de0c39;
}

.btn-primary:hover {
    background-color: #d50c37;
    border-color: #d50c37;
}




/*=========================================================
* signup style
=========================================================*/